uwsgi
bcrypt
PyOpenSSL
boxsdk==1.2.0
cffi==1.1.2
boto==2.38.0
configparser==3.3.0.post2
dj-static==0.0.6
Django==1.11.29
django-appconf==1.0.1
django-bootstrap3==6.1.0
django-forms-bootstrap==3.0.1
django-user-accounts==1.1
django-storages==1.1.8
dropbox==2.2.0
enum==0.4.4
enum34==1.0.4
google-api-python-client==1.4.1
gunicorn>=19.5.0
httplib2==0.18.0
jsonfield==1.0.3
crypto==1.4.1
cryptography==0.9
jwt==0.3.2
MySQL-python==1.2.5
numpy==1.9.2
oauth2client==1.4.12
oauthlib==0.7.2
pyasn1==0.1.8
pyasn1-modules==0.0.6
PyDrive==1.0.1
python-openid==2.2.5
pytz==2015.4
pyutil==2.0.0
PyYAML==5.1
requests==2.7.0
requests-oauthlib==0.5.0
rsa==3.1.4
simplejson==3.7.3
six==1.9.0
static3==0.6.1
uritemplate==0.6
urllib3==1.24.2
wheel==0.24.0
zbase32==1.1.5
zfec==1.4.24
